<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <!-- App Icon -->

  <!-- Navbar Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Items -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="''" [routerLinkActive]="['active']"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'about'" [routerLinkActive]="['active']"> About </a>
      </li>
    </ul>
    <button [routerLink]="'signup'" class="btn btn-outline-primary btn-register my-2 my-sm-0"> Register </button>
    <button [routerLink]="'login'" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Sign in </button>
  </div>

</nav>

<router-outlet></router-outlet>